
#about {
  //background-color: #1B2735;
  background-color: #181818;
}

#about .section-title {
  color: white;
}

.about-description {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;

  @media (min-width: 850px) {
    width: 830px;
    margin: 10rem auto;
    font-size: 2rem;
  }
}

.about-actions {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;


  @media (min-width: 850px) {
    flex-direction: row;
  }

  div {
    width: 230px;
    height: 230px;
    transform: scale(0.7);
    background-color: whitesmoke;
    border-radius: 73px;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #1B2735;
    font-size: 1.5rem;
    text-align: center;


    &:hover,
    &:active{
      background: gray;
    }

    @media (min-width: 850px) {
      transform: scale(1);
      margin-bottom: 6rem;
    }

    span {
      display: block;
      margin-top: 0.5rem;
      text-decoration: none;
      color: black;
    }
  }


}

.about-action__github,
.about-action__here,
.about-action__email {
  img {
    width: 125px;
    height: 125px;
    display: block;
    margin: 20px auto;
  }
}

