@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-rows: 3.5rem auto fit-content(8rem);
  grid-template-areas: "header"
                        "main"
                        "footer";
  font-size: 1.2rem;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}


.background {
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  z-index: -2;
}

@import 'header';

main {
  padding-top: 1.5rem;
  grid-area: main;
  display: grid;
  align-content: center;
  width: 100%;
  grid-template-rows: 100vh auto auto auto auto;
  grid-template-areas: 'presentation'
                        'projects'
                        'skills'
                        'about'
                        'contact';
  @media (min-width: 81rem) {
    grid-template-rows: 100vh auto auto auto 100vh;

  }

  //@media (min-width: 40rem) {
  //  grid-template-rows: repeat(3, 100vh) auto 100vh auto;
  //}

}

section {
  padding-top: 2.5rem;
  justify-items: center;

  .section-title {
    color: white;
    text-align: center;
    font-family: "Roboto slab", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    @media (min-width: 850px) {
      font-size: 4.5rem;
    }
  }
}

#section-1 {
  //grid-area: presentation;
  padding-top: 0;
  justify-self: center;
  align-self: center;
}


.presentation {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: auto 7rem;
  grid-row-gap: 1rem;
}

.presentation-image {
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
  overflow: hidden;
  justify-self: center;

  img {
    height: 12rem;
    vertical-align: middle;
    @media (min-width: 40rem) {
      height: 16rem;
    }
  }
}

.presentation-text {
  text-align: center;
  align-self: center;
  justify-self: center;
  color: white;
  font-size: 1.5rem;
  width: 70%;

  h1 {
    font-size: 1.7rem;
    @media (min-width: 40rem) {
      font-size: 2rem;
    }
  }
}


#projects {

}

@import 'about';

@import 'contact';


footer {
  grid-area: footer;
  background: rgba(9, 10, 15, 0.7);
  color: white;
  font-weight: lighter;
  font-size: 0.6rem;
  padding: 1rem 1rem;
  text-align: center;

  @media (min-width: 40rem) {
    text-align: right;
  }
}


@import 'skills';

