@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: 3.5rem auto fit-content(8rem);
  grid-template-areas: "header" "main" "footer";
  font-size: 1.2rem;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  z-index: -2;
}

.menu-mobile {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: #090a0f;
  z-index: 19;
}

.menu-mobile__display {
  display: block !important;
  opacity: 1 !important;
  animation: fadein 0.5s ease-out;
}

.menu-mobile__links {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-mobile__link {
  margin: 1.5rem 0;
  font-weight: bold;
  animation-delay: 0.3s;
  animation: animate-links 1s ease-out;
}

.main-header {
  grid-area: header;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  height: 3.5rem;
  align-items: center;
  justify-content: space-between;
  background: rgba(9, 10, 15, 0.7);
}

.main-header__button {
  cursor: pointer;
  margin: auto 1rem;
}
@media (min-width: 40rem) {
  .main-header__button {
    display: none;
  }
}

.main-header__button-line {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: white;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.main-header__logo {
  border-radius: 50%;
  overflow: hidden;
  margin: auto 1rem;
}
.main-header__logo img {
  height: 2.5rem;
  vertical-align: middle;
}

.main-header__links {
  display: none;
  width: 100%;
  padding: 0 1.5rem;
}
.main-header__links a:hover {
  text-decoration: underline white solid;
}
@media (min-width: 40rem) {
  .main-header__links {
    display: block;
  }
}

.header__link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0.8rem 1.5rem;
}

main {
  padding-top: 1.5rem;
  grid-area: main;
  align-self: center;
}
@media (min-width: 40rem) {
  main {
    align-self: auto;
  }
}

.presentation {
  display: grid;
  align-items: center;
  grid-template-rows: auto 7rem;
  grid-row-gap: 1rem;
}

.presentation-image {
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  justify-self: center;
}
.presentation-image img {
  height: 12rem;
  vertical-align: middle;
}
@media (min-width: 40rem) {
  .presentation-image img {
    height: 16rem;
  }
}

.presentation-text {
  text-align: center;
  align-self: center;
  justify-self: center;
  color: white;
  font-size: 1.5rem;
  width: 70%;
}
.presentation-text h1 {
  font-size: 1.7rem;
}
@media (min-width: 40rem) {
  .presentation-text h1 {
    font-size: 2rem;
  }
}

footer {
  grid-area: footer;
  background: rgba(9, 10, 15, 0.7);
  color: white;
  font-weight: lighter;
  font-size: 0.7rem;
  padding: 1rem 1rem;
  text-align: right;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate-links {
  0% {
    transform: translateX(-30rem);
    opacity: 0;
  }
  50% {
    transform: translateX(3rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
